.container {
  display: block;
  width: 800px;
  border: 2px solid navy;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
}

.sub_container {
  width: 600px;
  border: 2px solid lightcoral;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px 10px;
  padding: 10px;
}
