.li-tent {
    list-style: none;
    font-size: 2.5rem;
    padding: 0.5em;
}

.span-count {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    background-color: bisque;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.tent-button {
    font-size: 2.5rem;
    margin: 0 0.1em;
    background-color: transparent;
    border-radius: 50%;
}